@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --color-background: #F5F2EE;
  --color-surface: #FFFFFF;

  /* Primary: Deep Teal */
  --color-primary: #355E58;
  --color-primary-hover: #2A4B46;
  --color-primary-light: #E0EBE9;

  /* Secondary: Warm Sand */
  --color-secondary: #E8DCCA;
  --color-secondary-hover: #D6C4AD;

  /* Text */
  --color-text-main: #3D3834;
  --color-text-muted: #78736E;

  /* Border & UI */
  --color-border: #E6E2DD;

  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}